[submodule "home/olpc/.zshuery"]
	path = home/olpc/.zshuery
	url = git://github.com/myfreeweb/zshuery.git
[submodule "home/olpc/scripts/WIFI"]
	path = home/olpc/scripts/WIFI
	url = git://ithub.com/itdaniher/dmenu-wifi.git
[submodule "usr/local/src/darkhttpd"]
	path = usr/local/src/darkhttpd
	url = git://github.com/itdaniher/darkhttpd.git
