[submodule "home/olpc/.zshuery"]
	path = home/olpc/.zshuery
	url = git://github.com/myfreeweb/zshuery.git
[submodule "home/olpc/scripts/WIFI"]
	path = home/olpc/scripts/WIFI
	url = git@github.com:itdaniher/dmenu-wifi.git
